{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="bg-white" style="font-size:65%;" id="html">
  <head>
    <title>
      {% block title %}
      My page
      {% endblock  %}
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>
    
  <body>
    
   
    {% block content %}
    
    {% endblock  %}

    

   <script src="{% static 'script.js' %}" defer></script>
  </body>
</html>
